---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Multi-cluster Management",
    description:
      "Easily connect, switch, and manage multiple Kubernetes clusters from a single interface, no need to juggle kubeconfigs or terminals.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Cluster Monitoring",
    description:
      "Get real-time insights into cluster health, workloads, and resource usage with intuitive dashboards and metrics.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Resource Backup",
    description:
      "Quickly back up and restore Kubernetes resources like deployments, services, and configs to prevent data loss.",
    icon: "bx:bxs-data",
  },
  {
    title: "Resource Optimization",
    description:
      "Identify underutilized or over-provisioned resources and receive intelligent recommendations to reduce waste and improve performance.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Troubleshooting Assistant",
    description:
      "Accelerate issue resolution with guided diagnostics, root cause suggestions, and logs, so you spend less time debugging and more time building.",
    icon: "bx:bxs-file-find",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Your Kubernetes Command Center
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Take full control of your clusters with KubExplorer — the all-in-one 
    desktop tool built for SREs, platform engineers, and developers. 
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
